<html lang="ru">
<head>
    <title>Main Page</title>
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
    <link rel="stylesheet" href="styles/style.css">
    <script src="js/my.js"></script>
</head>
<body>
    <h1>Летняя практика</h1>
    <h2> Платформа для обмена книгами: книги, пользователи, обмены, статус книги.</h2>
</body>
</html>