<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="icon" th:href="@{/styles/logo.ico}" type="image/x-icon">
    <script th:src="@{/js/my.js}"></script>
</head>
<body>
<div class="container-fluid page px-sm-0">
<header>
    <img id="logo" src="/images/logo.webp" alt="logo" width="100px">
    <h2>BOOKCHANGE</h2>
    <nav>
        <ul class="px-3 mx-sm-2">
            <li><a th:href="@{/exchange}">Запросы на обмен</a></li>
            <li><form th:action="@{/logout}" method="post">
                <input type="submit" value="Выйти"/>
            </form></li>
        </ul>
    </nav>
</header>
<div class="content container-fluid px-5">
    <div id="actions">
        <div id="arrow">
            <img src="/images/free-icon-left-arrow-109618.png" alt="Стрелка" width="25px">
            <a th:href="@{/}">На главную</a>
        </div>
        <button id="MyBookAdd">Добавить</button>
    </div>
    <div th:each="error : ${errors}">
        <div th:text="${errors}"></div>
    </div>
    <div id="formSearchingContainer1"></div>
<h1>Список Книг</h1>
    <div th:if="${!MyBook.isEmpty()}">
    <div class="row d-flex">
        <div th:each="book : ${MyBook}" class="col-md-3 p-2 ">
            <div class="book p-4">
                <h3 th:text="${book.getTitle}"></h3>
                <span class="min">Автор</span><br>
                <span th:text="${book.getAuthor}"></span><br>
                <img th:src="${book.imageUrl}" th:alt="${book.title}" width="100%">
                <span class="min">Описание</span>
                <div class="description-container">
                    <div th:if="${book.getDescription().length()<50}">
                        <span class="description-short">
                            <span th:text="${book.getDescription()}"></span>
                        </span>
                    </div>
                    <div th:if="${book.getDescription().length()>=50}">
                        <span class="description-short">
                            <span th:text="${#strings.substring(book.getDescription(), 0, 50)}"></span>...
                        </span>
                        <span class="description-full description-hidden" th:text="${book.getDescription()}"></span>
                        <a href="#" class="read-more-link">Подробнее</a>
                    </div>
                </div>
                <span class="min1">Жанр: </span>
                <span th:text="${book.getGenre}"></span><br>
                <span class="min1">Год публикации: </span>
                <span th:text="${book.getPublicationYear}"></span><br>
                <span class="min1">ISBN: </span>
                <span th:text="${book.getIsbn}"></span><br><br>
            </div>
            <div class="req-wrap">
                <div class="Request" th:if="${ReqBook}">
                    <form th:action="@{/myBooks/exchange}" method="post">
                        <input type="submit" value="Обменять">
                        <input type="hidden" name="id" th:value="${book.getId}"/>
                        <input type="hidden" name="reqId" th:value="${ReqBook.getId}"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </div>
                <div class="Request" th:unless="${ReqBook}">
                    <a th:href="@{update/{id}(id=${book.getId})}">Изменить</a>
                    <form th:action="@{/myBooks}" method="post">
                        <input type="submit" value="Удалить">
                        <input type="hidden" name="id" th:value="${book.getId}"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div th:if="${MyBook.isEmpty()}">
        <h2 class="mx-3">Книг для обмена нет.</h2>
    </div>
<!--    <tr th:each="book : ${MyBook}">-->
<!--        <td th:text="${book.title}"></td>-->
<!--        <td th:text="${book.author}"></td>-->
<!--        <td th:text="${book.isbn}"></td>-->
<!--        <td th:text="${book.description}"></td>-->
<!--        <td th:text="${book.genre}"></td>-->
<!--        <td th:text="${book.publicationYear}"></td>-->
<!--        <td th:text="${book.ownerUsername}"></td>-->
<!--&lt;!&ndash;        <td th:text="${book.status}"></td>&ndash;&gt;-->
<!--        <td><img th:src="${book.imageUrl}" th:alt="${book.title}" width="100px"></td>-->
<!--        <td>-->
<!--            <div th:if="${ReqBook}">-->
<!--                <form th:action="@{/myBooks/exchange}" method="post">-->
<!--                    <input type="submit" value="Обменять">-->
<!--                    <input type="hidden" name="id" th:value="${book.id}"/>-->
<!--                    <input type="hidden" name="reqId" th:value="${ReqBook.id}"/>-->
<!--                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div th:unless="${ReqBook}">-->
<!--                <a th:href="@{update/{id}(id=${book.id})}">Изменить</a>-->
<!--                <form th:action="@{/myBooks}" method="post">-->
<!--                    <input type="submit" value="Удалить">-->
<!--                    <input type="hidden" name="id" th:value="${book.id}"/>-->
<!--                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--                </form>-->
<!--            </div>-->

<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</div>
</div>
</body>
</html>
